In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"boston_data.csv")
df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.15876,0.0,10.81,0.0,0.413,5.961,17.5,5.2873,4.0,305.0,19.2,376.94,9.88,21.7
1,0.10328,25.0,5.13,0.0,0.453,5.927,47.2,6.9320,8.0,284.0,19.7,396.90,9.22,19.6
2,0.34940,0.0,9.90,0.0,0.544,5.972,76.7,3.1025,4.0,304.0,18.4,396.24,9.97,20.3
3,2.73397,0.0,19.58,0.0,0.871,5.597,94.9,1.5257,5.0,403.0,14.7,351.85,21.45,15.4
4,0.04337,21.0,5.64,0.0,0.439,6.115,63.0,6.8147,4.0,243.0,16.8,393.97,9.43,20.5

In [3]:
df.shape

(404, 14)

In [4]:
train = df[:13]
test = df[-1:]

In [7]:
test

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
403,0.08244,30.0,4.93,0.0,0.428,6.481,18.5,6.1899,6.0,300.0,16.6,379.41,6.36

In [5]:
train_labels = train['medv']
test_labels = test['medv']
del train['medv']
del test['medv']

In [8]:
res = np.linalg.solve(train.to_numpy(), train_labels.to_numpy())
res

array([-0.02510639,  0.08171281, -0.18933403, -1.80658252, -7.06043804,
       -1.40839365,  0.03532673,  1.13442152, -1.60804332,  0.1056206 ,
        0.30272653,  0.00860484, -0.64697666])

In [80]:
test

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
403,0.08244,30.0,4.93,0.0,0.428,6.481,18.5,6.1899,6.0,300.0,16.6,379.41,6.36

In [81]:
y_pred = (res * test).to_numpy().sum()
y_pred

23.25490204092383

In [82]:
test_labels

403    23.7
Name: medv, dtype: float64